.button_sab_update{
    text-align: center;
    margin-left: 5%;
    font-size: 20px;
}
.form_label_update{
    font-size: 45px;
}
.batten_back{
    height: 150px;
    width: 100%;
    background: #F2FAFF;
}
.mrg{
    margin: -75px 0 0 45px;
}