{% extends 'main/base.html' %}
<!-- Представление одного Заказа (Информация) -->
{% block header %}
    <div class="lyout">
        <a href="{% url 'home' %}">
            <img src="../../static/main/img/home.png" alt="домик" class="home_img">
        </a>

        <div class="menu">
            <a href="{% url 'Orders' %}"><button class="buttom_menu">Заказы</button></a>
            <a href="{% url 'Users' %}"><button class="buttom_menu">Клиенты</button></a>
            <a href="{% url 'Employee' %}"><button class="buttom_menu">Сотрудники</button></a>
            <a href="{% url 'Services' %}"><button class="buttom_menu">Услуги</button></a>
        </div>

        <a href="{% url 'about' %}" class="button_in">Выйти</a>
    </div>
{% endblock %}

{% block content %}

<a class="buttom_back" href='http://127.0.0.1:8000/{{tableName}}'>Назад</a>

<div class="wrapper">
    <div class="info info_users">
        <h3 class="form_label_text  text_order">Номер заказа: {{ data.id }}</h3><br>
        <h3 class="form_label_text  text_order">Клиент: {{data.user_id.surname}} {{ data.user_id.name }}</h3><br>
        <h3 class="form_label_text  text_order">Исполнитель: {{data.employee_id.surname}} {{ data.employee_id.name }}</h3><br>
        <h3 class="form_label_text  text_order">Дата заказа: {{ data.order_date}}</h3><br>
        <h3 class="form_label_text  text_order">Статус: {{ data.status}}</h3><br>
        <h3 class="form_label_text  text_order">Услуги: {{ data.status}}</h3><br>
        <h3 class="form_label_text  text_order">Связанный заказ: {{ data.connected_order}}</h3>
        <h3 class="form_label_text  text_order">Телефон клиента: {{ data.user_id.phone}}</h3><br>
        <h3 class="form_label_text  text_order">E-mail клиента: {{ data.user_id.email}}</h3><br>
        <h3 class="form_label_text  text_order">Телефон сотрудника: {{ data.employee_id.phone}}</h3><br>
        <h3 class="form_label_text  text_order">E-mail сотрудника: {{ data.employee_id.email}}</h3><br>
    </div>
    <div class="wrapper_2">
        <div class="order_batton">
            <a class="button_sab button_item" href='http://127.0.0.1:8000/update{{tableName}}/{{data.id}}'>Изменить</a>
            <a class="button_sab button_item" href='http://127.0.0.1:8000/delete{{tableName}}/{{data.id}}'>Удалить</a>
            <a class="button_sab button_item fz_text" href='http://127.0.0.1:8000/OrdersAllByUser/{{data.id}}'>Все заказы клиента</a>
        </div>
        <div class="order_info">
            <h3 class="form_label_text  text_order">Комментарий: {{ data.comment}}</h3>
        </div>
    </div>
</div>
{% endblock %}
 