.form_users_update{
    padding-left: 25px;
    width: 50%;
}
.batten_back_z{
    height: 200px;
    width: 100%;
    background: #F2FAFF;
    padding: 0;
    margin: -25px 0 0 -35px;
}
.wrap_wto{
    width: 100%;
    margin: 0;
}
