.data_block_menu{
    display: flex;
    align-items: center;
    background-color: #F2FAFF;
    margin: 0 0 10px 0;
    /* height: 250px; */
    height: 100px;
    justify-content: space-around;
    font-size: 45px;
    font-weight: 700;
}
.users_info_name{
    margin-left: 172px;
}
.users_info_batton{
    /* display: flex; */
    flex-direction: row;
}
.wrapp{
    width: 100%;
    border-bottom: solid 7px #fff;
}